<div class="container">
    @if(errorMessage){
        <p class="error">{{ errorMessage }}</p>
    }
    @if(userInterests.length > 0){
        <ul>
            @for(user of userDetails; track user){
                <li>
                    <p>Nombre: {{ user.firstName }} - Apellido: {{ user.lastName }}</p>
                </li>
            }
        </ul>
    }
    @if(userInterests.length === 0){
        <div>
            <p>No se han encontrador usuarios en los que este interesado.</p>
        </div>
    }
</div>