<div class="main-container">
  <app-menu></app-menu>
  <div class="main-content">
    <div class="container">
      <div class="profile-info">
        <div class="profile-header">
          <img [src]="userProfileImageUrl" alt="Foto de perfil">
          <div class="name-container">
            <h2>{{ user.firstName }}</h2>
            <h2>{{ user.lastName }}</h2>
          </div>
          <div class="buttons">
            <button (click)="navigatePreferences()">Ver preferencias</button>
            <button (click)="editProfile()">Editar perfil</button>
          </div>
        </div>
        <div class="buttons">
          <button (click)="showFriends()">Amigos</button>
          <button (click)="showLikeUsers()">Personas de interés</button>
        </div>
        <p>{{ user.desc }}</p>
        <div class="image-grid">
          <h1>Fotos</h1>
          <div class="grid-container">
            @for (image of images; track image){
              <div class="image-container">
                <div class="grid-item">
                  @if(image){
                    <img [src]="image.Asset?.path" alt="Imagen">
                  }
                  @if(image.Asset?.id !== undefined){
                    <button class="edit-button" (click)="editImage(image.Asset?.id)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="delete-button" (click)="deleteImage(image.Asset?.id)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  }
                </div>
              </div>
            }
            
            @if(images.length < maxNumberPhotos){
              <div class="image-container">
                <div class="grid-item add-button-container">
                  <label for="fileInput" class="add-button">
                    <i class="fas fa-plus"></i>
                  </label>
                  <input id="fileInput" type="file" style="display:none" (change)="addImage($event)">
                  <!-- @if (previewImage){
                    <img [src]="previewImage" alt="Vista previa de la imagen">
                  } -->
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>