.event-details {
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    color: black;
}

.form-column {
    flex: 1; 
    margin-right: 20px; 
}

.form-column:last-child {
    margin-right: 0;
}

.form-field {
    margin-bottom: 10px; 
}

.form-field label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

.form-field p {
    margin: 0; 
    padding: 5px; 
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 3px; 
}

.form-field.is-active-field p {
    color: #007bff;
    font-weight: bold; 
}