.main-container {
    display: flex;
    height: 100vh; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-height: 680px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .main-content {
    margin-left: 25%; 
    flex-grow: 1; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .error-message {
    color: red;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  