<div class="preferences-container">
  <div class="preference-grid">
    <div class="preference-item">
      <label>Tipo de relación:</label>
      <input type="text" [(ngModel)]="relationshipType">
    </div>
    <div class="preference-item">
      <label>Interés en deportes (0-100):</label>
      <input type="number" [(ngModel)]="sportsInterest">
    </div>
    <div class="preference-item">
      <label>Interés artístico (0-100):</label>
      <input type="number" [(ngModel)]="artisticInterest">
    </div>
    <div class="preference-item">
      <label>Interés político (0-100):</label>
      <input type="number" [(ngModel)]="politicalInterest">
    </div>
    <div class="preference-item">
      <label>Tiene o quiere hijos:</label>
      <input type="checkbox" [(ngModel)]="hasOrWantsChildren">
    </div>
    <div class="preference-item">
      <label>Interesado/a en:</label>
      <input type="text" [(ngModel)]="interestedIn">
    </div>
  </div>
</div>
