@if (isAdmin){
    <app-menu-admin></app-menu-admin>
    <section>
        @for(card of cards; track card.id){
            <div class="card" routerLink={{card.link}}>
                <p-card header={{card.title}} [style]="{ width: '360px' }">
                    <p class="m-0">{{card.content}}</p>
                    <img alt="Card" src={{card.image}} width="300px" />
                </p-card>
            </div>
        }
    </section>
}@else{
    <div class="main-container">
        <app-menu></app-menu>
        <div class="main-content">
            <div class="container">
                <div class="view-people">
                    <div class="info-user">
                        <div class="card-user">
                            <p>foto de perfil</p>
                        </div>
                        <p>Contenido de la aplicacion, aqui es donde veremos las fotos de los usuarios que son mas afines a nuestras preferencias, podremos dar em gusta, no me gusta, pasar al siguiente, volver al anterior, ver su informacion, ver sus fotos</p>
                    </div>
                </div>
                <div class="search-suggestions">
                    <div class="search">
                        <app-search></app-search>
                    </div>
                    <div class="suggestions">
                        <p>Contenedor de busqueda de usuarios y mostrar cinco usuarios de sugerencia que mas amigos o mas me gustas tienen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
