@if (isAdmin){
    <app-menu-admin></app-menu-admin>
    <section>
        @for(card of cards; track card.id){
            <div class="card" routerLink={{card.link}}>
                <p-card header={{card.title}} [style]="{ width: '360px' }">
                    <p class="m-0">{{card.content}}</p>
                    <img alt="Card" src={{card.image}} width="300px" />
                </p-card>
            </div>
        }
    </section>
}@else{
    <div class="main-container">
        <app-menu></app-menu>
        <div class="main-content">
            <div class="container">
                @if(hasPreferences == false){
                    <app-create-preferences></app-create-preferences>
                }@else{
                    <div class="view-people">
                        <div class="info-user">
                            <div class="card-user">
                                @if(errorMessage){
                                    <div class="error-message">
                                        {{ errorMessage }}
                                    </div>
                                }@else{
                                    @if(recommendedUsers.length > 0){
                                        <div>
                                            <div>
                                                <img [src]="userProfileImageUrl" width="150px">
                                                <p>{{ recommendedUsers[currentUserIndex].firstName }} {{ recommendedUsers[currentUserIndex].lastName }}</p>
                                                <p>{{ recommendedUsers[currentUserIndex].email }}</p>
                                            </div>
                                            <button (click)="prevUser()" [disabled]="currentUserIndex === 0">Anterior</button>
                                            <button (click)="nextUser()" [disabled]="currentUserIndex === recommendedUsers.length - 1">Siguiente</button>
                                        </div>
                                        
                                    }
                                    @if(recommendedUsers.length === 0){
                                        <div>
                                            <p>No hay usuarios recomendados disponibles.</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="search-suggestions">
                        <div class="search">
                            <app-search></app-search>
                        </div>
                        <div class="suggestions">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
