.main-container {
    display: flex;
    height: 100vh; /* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
}

.container {
    display: flex;
    justify-content: space-between; 
    margin: 10px;
    min-height: 680px;
}

.main-content {
    margin-left: 25%; /* Deja espacio para el menú lateral */
    flex-grow: 1; /* El contenido principal ocupa el espacio restante */
    padding: 20px; /* Añade un poco de padding */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.search-suggestions {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box;  
    background-color: #232323;
    margin-right: 10px;
    border-radius: 40px;
    color: white;
}

.view-people {
    flex: 2; 
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #232323;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 40px;
    color: white;
}

.info-user {
    align-items: center;
    background-color: #131313;
    padding: 20px;
    margin-top: 40%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px; 
}

.card {
    background-color: #1c1c1c;
    color: white;
    width: 360px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s; 
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.card p-card {
    margin: 0; 
    padding: 20px;
    text-align: center;
    font-size: 24px; 
    font-weight: bold; 
}

.card p-card img {
    width: 90%; 
    height: auto;
    border-radius: 10px;
}

.card p-card .m-0 {
    font-size: 17px;
    font-weight: normal;
}