.header-container {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    width: 80%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.header-content img {
    margin-right: 20px; 
}

/* Estilos para pantallas pequeñas (menos de 600px de ancho) */
@media (max-width: 600px) {
    .header-content {
        width: 95%; 
        flex-direction: column; 
    }

    .header-content img {
        margin-bottom: 20px; 
    }
}

/* Estilos para pantallas medianas (entre 600px y 900px de ancho) */
@media (min-width: 600px) and (max-width: 900px) {
    .header-content {
        width: 95%;
        flex-direction: column; 
    }

    .header-content img {
        margin-bottom: 120px;
    }
}

/* Estilos para pantallas grandes (más de 900px de ancho) */
@media (min-width: 900px) {
    .header-content {
        width: 80%; 
    }
}

/* Estilos para pantallas extra grandes (por ejemplo, 1024px de ancho o más) */
@media (min-width: 1024px) {
    .header-content {
        width: 70%; 
    }
}