PORT=9292
WEBSOCKETPORT="8090"

DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="1234"

FRONT_URL="http://localhost:4200"

DB_DEV="heartConnect"
DB_PROD="heartConnect"
DB_TEST="heartConnect"

#IDs for rols
ID_ROL_ADMIN=1
ID_ROL_USER=2

# mongo
DB_MONGO_DATABASE="heartConnect"
DB_MONGO_URL="localhost"
DB_MONGO_PORT=27017

DB_DIALECT="mysql"
DB_HOST="localhost"
DB_PORT=3306
DB_MAXCONNECTIONS=5

SECRETORPRIVATEKEY=eST0EsmiPiblic@key

# tables
TABLE_USERS="users"
TABLE_ROLS="rols"
TABLE_USER_ROLS="user_rols"
TABLE_ASSETS="assets"
TABLE_USER_ASSETS="user_assets"
TABLE_USER_FRIENDSHIP="user_friendship"
TABLE_EVENTS="events"
TABLE_USER_EVENTS="user_events"
TABLE_PREFERENCES="preferences"
TABLE_USER_PREFRENCES="user_preferences"
TABLE_RELATIONSHIP_TYPE="relationship_type"
TABLE_PREFERENCES_RELATIONSHIP="preferences_relationship"
TABLE_CHILDREN="children"
TABLE_PREFERENCES_CHILDREN="preferences_children"
TABLE_INTEREST="interest"
TABLE_PREFERENCES_INTEREST="preferences_interest"