<div class="main-container">
  <app-menu></app-menu>
  <div class="main-content">
    <div class="chat-container">
      <div class="buttons-and-content">
        <div class="chat-buttons">
          <button class="chat-btn" [class.active]="activeSection === 'chats'" (click)="toggleSection('chats')">
            <h2>Chats</h2>
          </button>
          <button class="chat-btn" [class.active]="activeSection === 'friends'" (click)="toggleSection('friends')">
            <h2>Amigos</h2>
          </button>
      </div>
      
        <div class="content">
          @if (activeSection === 'chats'){
            <div class="chat-list">
              <ul>
                @for (chat of chats; track chat) {
                  <li>
                    <button (click)="selectChat(chat)">{{ chat.friend.firstName }} {{ chat.friend.lastName }}</button>
                  </li>
                }
              </ul>
            </div>
          }
    
          @if (activeSection === 'friends'){
            <div class="friends-list">
              <ul>
                @for (friendDetail of friendDetails; track friendDetail){
                  <li>
                    <button (click)="selectFriend({ id: friendDetail.id!, firstName: friendDetail.firstName, lastName: friendDetail.lastName })">{{ friendDetail.firstName }} {{ friendDetail.lastName }}</button>
                  </li> 
                }
              </ul>
            </div>
          }
        </div>  
      </div>
      
      <div class="messages">
        <h2>{{ selectedFriend ? selectedFriend.firstName + ' ' + selectedFriend.lastName : 'Mensajes' }}</h2>    
        <div class="message-container">
            <ul>
              @if (activeSection === 'chats') {

                @for(message of messages; track message){
                  <li class="message-content">
                    <span class="message-sender">{{ message.senderName }}:</span> <!-- Añade el nombre del remitente aquí -->
                    <br><hr>
                    <span>{{ message.message }}</span> 
                  </li>
                }
              }
               @if (activeSection === 'friends'){
                <p>Seleccione un Amigo para empezar a chatear</p>
              }
            </ul>
        </div>
        @if(activeSection === 'chats'){
          <div class="message-input">
            <input type="text" placeholder="Escribe tu mensaje aquí..." [(ngModel)]="newMessage" />
            <button (click)="sendMessage()">
              <i class="pi pi-send"></i>
            </button>
          </div>
        }
      </div>
    </div>
  </div>
</div>