.chat-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* La segunda columna ocupa el doble de espacio */
    grid-row-gap: 20px; /* Espacio entre filas */
    align-items: center;
    padding: 20px;
    max-width: 85%;
    margin: 70px;
    background-color: #1d1c1c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
}

.buttons-and-content {
    display: flex;
    flex-direction: column;
    grid-column: 1; /* Ocupa la primera columna */
}

.chat-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}

/* Estilos para los botones */
.chat-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    color: white;

}

.chat-btn.active {
    background-color: lightblue;
    color: rgb(0, 0, 0);
}


.chat-btn h2 {
    margin: 0;
}

.chat-btn.active h2 {
    background-color: lightblue;
}

/* Estilos para la columna de mensajes */
.messages {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #060606;
    border-radius: 4px;
    padding: 10px;
    background-color: #060606;
    grid-column: 2; /* Ocupa la segunda columna */
}

.messages ul {
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 5px;
}

.messages li:last-child {
    margin-bottom: 0;
}
