.chat-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* La segunda columna ocupa el doble de espacio */
    grid-row-gap: 20px; /* Espacio entre filas */
    align-items: center;
    padding: 20px;
    max-width: 85%;
    margin: 70px;
    background-color: #1d1c1c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
}

.buttons-and-content {
    display: flex;
    flex-direction: column;
    grid-column: 1; /* Ocupa la primera columna */
}

.chat-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Estilos para los botones */
.chat-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    color: white;

}

.chat-btn.active {
    background-color: lightblue;
    color: rgb(0, 0, 0);
}

.chat-btn h2 {
    margin: 0;
}

.chat-btn.active h2 {
    background-color: lightblue;
}

/* Estilos para la columna de mensajes */
.messages {
    display: flex;
    flex-direction: column;
    height: 400px; /* Altura fija del contenedor de mensajes */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    border: 1px solid #060606;
    border-radius: 4px;
    padding: 10px;
    background-color: #060606;
    position: relative; /* Establece posición relativa */
    grid-column: 2; /* Ocupa la segunda columna */
}

.message-container {
    overflow-y: auto; /* Hace que el contenido se desplace verticalmente */
    max-height: calc(100% - 40px); /* Resta el tamaño del área de entrada */
}


.message-input {
    align-self: flex-end; /* Coloca el área de entrada al final del contenedor de mensajes */
    margin-top: auto; /* Asegura que el área de entrada esté pegada a la parte inferior */
}


.messages ul {
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 5px;
    color: black;
}

.messages li:last-child {
    margin-bottom: 0;
}