<div class="user-details">
    <div class="form-column">
        <div class="form-field">
            <label for="firstName">Nombre:</label>
            <input type="text" id="firstName" [(ngModel)]="user.firstName">
        </div>
        <div class="form-field">
            <label for="lastName">Apellido:</label>
            <input type="text" id="lastName" [(ngModel)]="user.lastName">
        </div>
        <div class="form-field">
            <label for="email">Email:</label>
            <input type="text" id="email" [(ngModel)]="user.email">
        </div>
        <div class="form-field">
            <label for="born_date">Fecha de Nacimiento:</label>
            <input type="text" id="born_date" [(ngModel)]="user.born_date">
        </div>
    </div>

    <div class="form-column">
        <div class="form-field">
            <label for="domicile">Domicilio:</label>
            <input type="text" id="domicile" [(ngModel)]="user.domicile">
        </div>
        <div class="form-field">
            <label for="phone_number">Número de Teléfono:</label>
            <input type="text" id="phone_number" [(ngModel)]="user.phone_number">
        </div>
        <div class="form-field">
            <label for="roles">Roles:</label>
            <input type="text" id="roles" [(ngModel)]="user.roles">
        </div>
    </div>
</div>

<button class="update-button" (click)="updateUserData()">Actualizar</button>