body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.ql-container {
    background-color: white;
    width: 70%; /* Ajusta el ancho según tus necesidades */
    margin: auto; /* Centra el contenedor horizontalmente */
}

.ql-editor {
    background-color: white;
}

.ql-toolbar.ql-snow {
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
    width: 85%;
  }
