<form (submit)="onSubmit()">
    <div>
       <label for="email">Correo Electrónico:</label>
       <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
       <label for="newPassword">Nueva Contraseña:</label>
       <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </div>
    <div>
       <label for="confirmPassword">Confirmar Contraseña:</label>
       <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit">Restablecer Contraseña</button>
</form>