
@import "./theme.css";
/* Añade esto a tu archivo styles.css o styles.scss */
@import 'quill/dist/quill.snow.css';
:root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgb(94, 5, 4), rgb(253, 19, 61));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

