<div class="main-container">
    <app-menu></app-menu>
    <div class="main-content">
      <div class="container">
        <div class="preferences-container">
            <h2>Preferencias del usuario</h2>
            <div class="preference-item">
            <label>Tipo de relación:</label>
            <span>{{ relationshipType }}</span>
            </div>
            <div class="preference-item">
            <label>Interés en deportes (0-100):</label>
            <span>{{ sportsInterest }}</span>
            </div>
            <div class="preference-item">
            <label>Interés artístico (0-100):</label>
            <span>{{ artisticInterest }}</span>
            </div>
            <div class="preference-item">
            <label>Interés político (0-100):</label>
            <span>{{ politicalInterest }}</span>
            </div>
            <div class="preference-item">
            <label>Tiene o quiere hijos:</label>
            <span>{{ hasOrWantsChildren ? 'Sí' : 'No' }}</span>
            </div>
            <div class="preference-item">
            <label>Interesado/a en:</label>
            <span>{{ interestedIn }}</span>
            </div>
        </div>
      </div>
</div>  

