<header class="sidebar">
    <div class="sidebar-content">
        <a routerLink="/home"><img src="../../../../assets/logo.png" width="280px" alt="heartconnect"></a>
        <nav>
            <ul>
                <li><a routerLink="/home">
                    <i class="pi pi-home"></i>
                    <p>Inicio</p>
                </a></li>
                <li><a routerLink="/search">
                    <i class="pi pi-search"></i>
                    <p>Explorar</p>
                </a></li>
                <li><a routerLink="">
                    <i class="pi pi-bell"></i>
                    <p>Notificaciones</p>
                </a></li>
                <li><a routerLink="/messenger">
                    <i class="pi pi-envelope"></i>
                    <p>Mensajes</p>
                </a></li>
                <li><a routerLink="/list-friends">
                    <i class="pi pi-users"></i> 
                    <p>Amigos</p>
                </a></li>
                <li>
                    <a routerLink="/my-profile">
                        <i class="pi pi-user"></i>
                        <p>Mi perfil</p>
                    </a>
                </li>
                <li style="position: relative;">
                    <input type="checkbox" id="opcionesToggle" class="opciones-toggle">
                    <label for="opcionesToggle" class="opciones-label">
                      <i class="pi pi-cog"></i>
                      <p>Más Opciones</p>
                    </label>
                    <div class="opciones-dropdown">
                      <a routerLink="/show-events">Ver eventos disponibles</a>
                      <a routerLink="#">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
