<header class="sidebar">
    <div class="sidebar-content">
        <a routerLink="/"><img src="../../../../assets/logo.png" width="280px" alt="heartconnect"></a>
        <nav>
            <ul>
                <li><a routerLink="">Inicio</a></li>
                <li><a routerLink="">Amigos</a></li>
                <li><a routerLink="/messenger">Mensajes</a></li>
                <li><a routerLink="">Notificaciones</a></li>
                <li><a routerLink="">Yo</a></li> <!--Desplegable con opciones de ver perfil, ajustes de privacidad, cerrar sesión-->
            </ul>
        </nav>
    </div>
</header>
