<!-- <div class="container">
    <h1>Carga de Imágenes</h1>
  
    <div class="image-grid">
      @for (image of images; track image){
        <div class="image-slot">
          <img [src]="getPreviewImage(image)" alt="Imagen {{ i + 1 }}">
          <button (click)="removeImage(i)">Eliminar</button>
        </div>
        @if(images.length < maxImages){
          <div class="image-slot" >
            <button (click)="openFileInput()">Agregar Imagen</button>
          </div>
        }
      }
    </div>
  
    <input id="fileInput" type="file" accept="image/*" (change)="onFileChange($event)" style="display: none;">
</div> -->